body {
    background-image: linear-gradient(to right, rgba(131, 98, 54, 0.61), rgba(131, 98, 54, 0.61)), url('background.jpg');
}

header {
    width: 100%;
}

.header__phone {
    width: 100%;
    color: black;
    font-size: 100px;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup__content {
    border-radius: 20px;
    background-color: rgb(196, 196, 196);
    color: black;
    max-width: 800px;
    padding: 30px;
    position: relative;
}

.popup__close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.popup__title {
    font-size: 40px;
    margin: 0 0 1em 0;
}

.popup__text {
    justify-content: center;
}

.popup__buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.popup__agr {
    text-decoration: none;
    color: black;
    border-style: none;
    color: rgb(26, 26, 26);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
    background: white;

}
